/* ============================================================================================== 
This copyright notice must be kept untouched in the stylesheet at all times.
The original version of this stylesheet and the associated (x)html 
is available at http://www.script-tutorials.com/vertical-timeline-with-css-and-javascript/
Copyright (c) Script Tutorials. All rights reserved.
This stylesheet and the associated (x)html may be modified in any way to fit your requirements.
================================================================================================= */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #aaa;
}
header {
    background-color:rgba(33, 33, 33, 0.9);
    color:#fff;
    display:block;
    font: 14px/1.3 Arial,sans-serif;
    margin-bottom: 0px;
    position:relative;
}
header h2{
    font-size: 22px;
    margin: 0px auto;
    padding: 10px 0;
    width: 80%;
    text-align: center;
}
header a, a:visited {
    text-decoration:none;
    color:#fcfcfc;
}

/* Vertical Timeline styles */
#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 2em;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background: #074282;
  left: 49.4%;
  margin-left: -2px;
}
.cd-container::after {
  content: '';
  display: table;
  clear: both;
}
.cd-container {
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block {
  position: relative;
      margin: 1em 0;
}
.cd-timeline-content {
  margin-left: 10px !important;  
  width: 42%;
  position: relative;
  background: white;
  border-radius: 0.25em;
  padding: 0.1em;
  box-shadow: 0 3px 0 #d7e4ed;
  margin-right: 10px !important;
}
.cd-timeline-content .cd-date {
  position: absolute;
  width: 100%;
  left: 134%;
  top: 14px;  
  font-size: 1.5rem;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
  left: auto;
  right: 134%;
  text-align: right;
}
.cd-timeline-block:nth-child(even) .cd-timeline-content {
  float: right;
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-img {
  width: 45px;
  height: 45px;
  left: 50%;
  margin-left: -30px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
.cd-timeline-img {
  position: absolute;
  top: 0;
  border-radius: 50%;
  box-shadow: 0 0 0 2px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  background: #ff6f00;
}
.cd-timeline-img img,.cd-timeline-img svg {
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
  left: 46%;
  top: 46%;
  margin-left: -12px;
  margin-top: -12px;
  vertical-align: middle;
}
.cssanimations .cd-timeline-img.is-hidden,.cssanimations .cd-timeline-content.is-hidden {
  visibility: hidden;
}
.cssanimations .cd-timeline-img.bounce-in,.cssanimations .cd-timeline-content.bounce-in {
  visibility: visible;
  animation: cd-bounce-1 0.6s;
}
.cd-timeline-content h5{
    text-align: center;
    font-weight : bold;
}
@keyframes cd-bounce-1 {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
 
  60% {
    opacity: 1;
    transform: scale(1.2);
  }
 
  100% {
    transform: scale(1);
  }
}
