.skin-blue .main-header .logo {
    background-color: #1a2226;
}
.skin-blue .main-header .logo:hover {
    background-color: #222d32;
}
.avatar {
    max-width: 50px;
    max-height: 50px;
}
.box-header {
    padding-left: 0;
    padding-right: 0;
}

.box-header form .col-md-3 {
    padding-top: 10px;
}

#content_section > .box {
    border-top: none;
}

.box-body.table-responsive {
    padding-right: 15px;
    padding-left: 15px;
}

.pagination {
    margin: 0;
}

.box-header .box-title {
    padding-left: 15px;
}
#order_items {
    padding: 0;
    margin: 0 10px 0 0;
    list-style: none;
}

#order_items li span {
    float: left;
}

#order_items li strong {
    float: right;
}
#order_items li:after {
    content: "";
    display: table;
    clear: both;
}

.box-body.box-profile .form-group {
    margin-right: 0;
}

#table_dashboard th {
    white-space: nowrap;
}

#table_dashboard tbody td:last-child {
    white-space: nowrap;
}

.panel-body {
    padding: 0;
}

.panel-body #parent-form-area {
    padding: 0;
}

#parent-form-area .box-profile {
    padding: 15px;
}

#parent-form-area .box-profile .row {
    padding: 5px 0;
}

#table-order_master {
    margin: 0!important;
    border-bottom: 1px solid #f4f4f4;
}

#table-order_master th:first-child, #table-order_master td:first-child {
    padding-left: 15px;
}

#table-order_master_info {
    padding-left: 15px;
    padding-top: 13px;
}

#table-order_master_paginate {
    padding-right: 15px;
    padding-top: 5px;
}
#orders_table td:nth-child(2) a {
    /*color: #333;*/
}

#orders_table .allocating {
    /*background: #9CC2CB;*/
}

#orders_table .accepted {
    /*background: #9CC2CB;*/
}

#orders_table .picking_up {
    /*background: #9CC2CB;*/
}

#orders_table .delivering {
    /*background: #9CC2CB;*/
}

#orders_table .delivered {
    /*background: #3498DB;*/
}

#orders_table .completed {
    /*background: #3498DB;*/
}

#orders_table .canceled {
    /*background: #9CC2CB;*/
}

#orders_table td h4 {
    margin: 0;
}

#order_details .milestone {
    padding-left: 0;
    list-style: none;
    margin: 10px 5px;
}

#order_details ul.milestone li {
    /*position: relative;*/
    border-bottom: 1px solid #e8e8e8;
    clear: both;
}

#order_details .milestone .disabled {
    opacity: 0.5;
}

#order_details .milestone .status {
    margin-top: 5px;
    padding-right: 0;
}

#order_details .milestone .tags {
    height: 36px;
}

#order_details .milestone .tag {
    float: right;
    height: 36px;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
}

#order_details .tag {
    line-height: 1;
    background: #d2d6de;
    color: #333;
    font-weight: 700;
}

#order_details .tag:after {
    content: " ";
    height: 36px;
    width: 0;
    position: absolute;
    left: 100%;
    top: 0;
    margin: 0;
    pointer-events: none;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 15px solid #d2d6de;
}

#order_details .completed .tag {
    background: #1ABB9C;
    color: #fff;
}
#order_details .completed .tag:after {
    border-left: 15px solid #1ABB9C;
}

#order_details .info .tag {
    background: #00c0ef;
    color: #fff;
}
#order_details .info .tag:after {
    border-left: 15px solid #00c0ef;
}

#order_details .warning .tag {
    background: #f39c12;
    color: #fff;
}
#order_details .warning .tag:after {
    border-left: 15px solid #f39c12;
}

#order_details .danger .tag {
    background: #dd4b39;
    color: #fff;
}
#order_details .danger .tag:after {
    border-left: 15px solid #dd4b39;
}

#order_details .canceled .tag {
    background: #343a40;
    color: #fff;
}
#order_details .canceled .tag:after {
    border-left: 15px solid #343a40;
}

#order_details .milestone .block {
    margin: 0 0 0 25px;
    border-left: 3px solid #e8e8e8;
    padding: 10px 15px;
}

#order_details .milestone h2.title {
    position: relative;
    font-size: 16px;
    margin: 0;
    padding-top: 3px;
}

#order_details .milestone h2.title:before {
    content: "";
    position: absolute;
    left: -23px;
    top: 6px;
    display: block;
    width: 14px;
    height: 14px;
    border: 3px solid #d2d3d2;
    border-radius: 14px;
    background: #f9f9f9;
}

#order_details .completed h2.title:before {
    background: #1ABB9C;
}

#order_details .info h2.title:before {
    background: #00c0ef;
}

#order_details .warning h2.title:before {
    background: #f39c12;
}

#order_details .danger h2.title:before {
    background: #dd4b39;
}

#order_details .milestone .byline {
    padding: .25em 0;
    font-size: .9375em;
    line-height: 1.3;
    color: #aab6aa;
}

#order_details .profile-img {
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}
.profile-user-img {
    height: 100px;
}
.right-buttons {
    text-align: right;
    padding-top: 5px;
}
#table_dashboard .rider_info .avatar {
    float: left;
}

#table_dashboard .rider_info > div {
    float: left;
    padding-left: 10px;
    padding-top: 7px;
}

#table_dashboard .rider_info > div > span {
    display: block;
}
